@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-satoshi), Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Hide scrollbar but keep functionality */
  .hide-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
